
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
<title>Login and Registration Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="Login and Registration Form with HTML5 and CSS3" />
<meta name="keywords"
	content="html5, css3, form, switch, animation, :target, pseudo-class" />
<meta name="author" content="Codrops" />
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/animate-custom.css}" />
</head>
<body>
	<div class="container">

		<header>
			<h1>
				<span>Stellar Bank</span> <br>Transfer Money Anywhere Anytime
				!!
			</h1>

		</header>
		<section>
			<div id="container_demo">

				<div id="wrapper">
					<div id="login" class="animate form">

						<form th:action="@{/logout}" method="get">
							<table width="100%">
								<tr>
									<td><button type="Submit">Logout</button></td>
									<td><span th:utext="${userName}"
										style="text-align: right;"></span></td>
								</tr>
							</table>

						</form>
						<form th:action="@{/admin/send}" th:object="${transfer}"
							method="post" autocomplete="on">
							<div class="panel-heading"></div>
							<h1>Send Lumens</h1>
							<br> <br>

							<p>
								<label for="accountName" class="uname" data-icon="t">To
									Address:</label> <input th:field="*{to}" required="required"
									type="text">
							</p>
							<p>
								<label for="accountName" class="uname" data-icon="a">Amount:</label>
								<input th:field="*{amount}" type="text">
							</p>
							<p>
								<label for="accountName" class="uname" data-icon="m">Memo:</label>
								<input th:field="*{memo}" type="text">
							</p>
							<p class="signin button" style="text-align: left;">
								<input type="submit" value="Send" />
							</p>


						</form>
						<hr>
						Last log in :<br> IP :<span th:utext="${clientip}"
							style="text-align: right;"></span>

					</div>



				</div>
			</div>
		</section>
	</div>
</body>
</html>

